#content{
    width: 100%;
    height: 772px;
    background: url(../images/load_bg.jpg) no-repeat center;
    background-size: cover;
}

#content .content{
    width: 1200px;
    position: relative;
}
#content .content .form{
    width: 300px;
    height: 390px;
    border: 1px solid #d9dadc;
    background: #fff;
    position: absolute;
    top: 196px;
    right: 90px;
    padding: 0 30px;
}
#content .content .form legend{
    font-size: 20px;
    color: #323232;
    text-align: center;
    padding: 50px 0;
}
#content .content .form input{
   width: 288px;
   height: 38px;
   border: 1px #f3f3f3;
   font-size: 16px;
   margin-left: 10px;
   outline: none;
}
#content .content .form p{
    border: 1px solid #f3f3f3;
    margin-bottom: 16px;
}
#content .content .form button{
    width: 144px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background: #cfb2f6;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 16px;
}


